// 정적인 파일 - 파일 원래의 내용에서 변경이 X 바뀌는게 없음
// static 파일

// 동적인 파일
// dynamic file
// template file

// render, { name: "이준영" }
이준영

<div class="profile">
  이준영
</div>

pug
.profile = name

console.log(`${name}`)

mutache
<div>
    이준영
</div>